<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- <h1>Recipe Details</h1> -->
    <pre id="json" style="display: none;">{{ recipe_data | tojson(indent=2) }}</pre>

    <div class="container my-3">
        <h2 id="name" class="text-center "></h2>
        <div class="w-100 my-4 d-flex">
            <img class="m-auto w-50" src="" id="image" alt="">
        </div>
        <h3>Ingredients:</h3>
        <ul id="ingredients"></ul>
        <h3>Instructions:</h3>
        <ul id="instructions"></ul>
    </div>

    <script>
        const data = JSON.parse(document.getElementById('json').innerHTML)
        console.log(data)

        document.getElementById("name").innerHTML = data.recipe_name

        const cleanedString = data.ingredients.replace(/[\[\]']/g, '');

        // Split the cleaned string by comma and trim each element
        const ingredientArray = cleanedString.split(',').map(item => item.trim());

        console.log(ingredientArray);

        ingredientArray.forEach(ingredient => {
            document.getElementById('ingredients').innerHTML += `<li>${ingredient}</li>`
        })

        // Split the string by periods
        const parts = data.Instructions.split('.');

        // Concatenate all parts except the last one
        const concatenatedString = parts.slice(0, parts.length - 1).join('.');

        // Split the concatenated string by periods again
        const instructions = concatenatedString.split('.');

        instructions.forEach(instruction => {
            document.getElementById('instructions').innerHTML += `<li>${instruction}</li>`
        })

        function ensureHttps(url) {
            // Check if the URL starts with 'http://'
            if (url.startsWith('http://')) {
                // Replace 'http://' with 'https://'
                return url.replace('http://', 'https://');
            }
            // If the URL doesn't start with 'http://', return it as is
            return url;
        }

        // Fetch the webpage content
        fetch(ensureHttps(data.recipe_urls))
            .then(response => response.text())
            .then(html => {
                // Parse the HTML content
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                let imgLink = 'https://www.archanaskitchen.com' + doc.getElementsByClassName('img-thumbnail')[0].getAttribute('src')
                document.getElementById("image").setAttribute("src", imgLink)
            })
            .catch(error => {
                console.error('Error fetching the webpage:', error);
            });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>